.home {
  min-height: 100vh;
}

.title {
}
.af-class-subtext-wrapper {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
p.whText {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: white;
}
.af-class-pink-text-animation.af-class-_166 {
  width: 170px;
  min-width: 170px;
}
.af-class-text-16-pink-italic {
  display: flex;
  margin-top: 0px;
  margin-bottom: 8px;
  color: rgb(239, 42, 134);
  font-size: 16px;
  line-height: 1;
  font-style: italic;
}

@media (max-width: 992px) {
  .title {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 50px;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 70px;
  }
}
